{% extends 'base.html' %}

{% block conteudo %}
  <div class="container">
    <h1 class="text-center text-light">Vídeos Baixados</h1>

    {% if videos %}
      {% for video in videos %}
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card p-4 container-video mb-3">
              <video class="w-100" height="240" controls>
                <source src="{{ url_for('reproduzir_video', video_nome=video) }}" type="video/mp4">
                Seu navegador não suporta o elemento de vídeo.
              </video>
              <p class="text-light mt-3">{{ video }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p class="text-light text-center">Não há vídeos baixados.</p>
    {% endif %}

  </div>
{% endblock %}
